<form action="" class="form-group" [formGroup]="formGroup">
  <div class="form-icon">
    <img src="/assets/images/png/icon-hour.png" alt="" />Horario
  </div>
  <div class="radio-container">
    <h3>Qual periodo voce quer treinar?</h3>
    <div class="radio-wrapper">
      <span>
        <input
          type="radio"
          name="hour"
          id=""
          value="morning"
          formControlName="hour"
        />
        <label for="morning">Manha</label>
      </span>
      <span>06:00 as 12h</span>
    </div>
    <div class="radio-wrapper">
      <span>
        <input
          type="radio"
          name="hour"
          id=""
          value="afternoon"
          formControlName="hour"
        />
        <label for="afternoon">Tarde</label>
      </span>
      <span>12:01 as 18h</span>
    </div>
    <div class="radio-wrapper">
      <span>
        <input
          type="radio"
          name="hour"
          id=""
          value="night"
          formControlName="hour"
        />
        <label for="night">Noite</label>
      </span>
      <span>18:01 as 23h</span>
    </div>
  </div>
  <div class="checkbox-wrapper">
    <span>
      <input type="checkbox" name="showClosed" formControlName="showClosed" />
      <label for="showClosed">Exibir unidades fechadas</label>
    </span>
    <span
      >Resultados Encontrados: <strong>{{ results.length }}</strong>
    </span>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="onSubmit()">
      Encontrar Unidades
    </button>
    <button class="btn btn-secondary" (click)="onClean()">Limpar</button>
  </div>
</form>
